<!DOCTYPE HTML>
<html>
	<head>
		<title>Event Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="../index.html" class="logo"><strong>Go to main page</strong></a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://github.com/imperial-ai-group" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Event Title</h1>
									</header>

									<!-- Add media: 1280x416 px-->
									<!-- <span class="image main"><img src="images/pic11.jpg" alt="" /></span> -->

									<p>Content</p>, 
									<p>Content</p>
									<hr class="major" />
									
									<p>Event Details</p>
																		
									<hr class="major" />
									
									<p>Date: TBD</p>
									<p>Time: TBD</p>
									<p>Location: TBD</p>
									<p>Please sign up below, so we can gauge numbers for PIZZA!:</p>
								
									<ul class="actions">
										<li><a href="#" class="button big">Sign up</a></li>
									</ul>

								</section>

						</div>
					</div>


			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
